.desktop td {
	border-width:1px;
	border-style:dotted;
	border-color:blue;
	border-collapse:true;
	padding:5px;
}

.desktop th {
	text-align:center;
}

table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

@media print {
	.mu {display:none}
	.footer {display:none}
	.buttons {display:none}
}

@page {
	margin: 0.5cm;
}

.footer {
    position: fixed;
    bottom: 0px;
    background: none repeat scroll 0% 0% white;
    padding: 3px;
    width: 100%;
	border-top-width:1px;
	border-top-color:black;
	border-top-style:solid;
	margin-left:0px;
	padding-left:0px;
}

.mu {
	position: fixed;
	top:0px;
	border-bottom-width:1px;
	border-bottom-color:black;
	border-bottom-style:solid;
	margin-left:0px;
	padding-left:5px;
	padding-bottom:5px;
	padding-top:5px;
	width:100%;
	background: none repeat scroll 0% 0% white;
}

.mu ul{
   margin: 0;
   padding: 0;
   height: 1em; 
}
.mu li {
   list-style: none;
   float: left;
   padding-right:2px;
}
.mu li b {
   display: block;
   padding: 3px 8px;
   background-color: #81BEF7;
   color: #fff;
   text-decoration: none;
}
.mu li a {
   display: block;
   padding: 3px 8px;
   background-color: #5e8ce9;
   color: #fff;
   text-decoration: none;
}
.mu li ul {
   display: none; 
   width: 10em; 
   background-color: #69f;
}
.mu li a:hover {
	background-color: #6090F0;
}